<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="home_user">สนามกีฬา</a></li></div>
        <div id="li-2"><li><a href="history">ประวัติการจอง</a></li></div>
    <div id="li-2"><li><a href="profile">ข้อมูลส่วนตัว</a></li></div>
    <div id="li-2"><li><a href="home">ออกจากระบบ</a></li></div>
    </ul>
    <br><center>
    <h2>ประวัติการจองสนามกีฬา</h2>
    <table>
        <thead>
            <tr>
                <th>รหัสสนาม</th>
                <th>ชื่อสนาม</th>
                <th>ขนาดสนาม</th>
                <th>เวลาที่ลงจอง</th>
                <th>วันที่ลงจอง</th>
                <th>บัตรเครดิตลูกค้า</th>
                <th>Email</th>
                <th>เบอร์โทร</th>
            </tr>
        </thead>
        <tbody>
          <% history.map((item)=>{
           %>
            <tr>
                <td><%= item.stadium?.StadiumID %></td>
                <td><%= item.stadium?.StadiumName %></td>
                <td><%= item.stadium?.Size %></td>
                <td><%= item.Time %></td>
                <td><%= new Date(item.SaleDate).toLocaleDateString('en-US', {
                    year: 'numeric',
                    month: 'short',
                    day: 'numeric'
                  }); %></td>
                <td><%= user?.Credit %></td>
                <td><%= user?.Email %></td>
                <td><%= user?.Tel %></td>
            </tr>

          <% }) %>
            <!-- เพิ่มแถวข้อมูลอื่น ๆ ตามต้องการ -->
        </tbody>
    </table>
    </center>
</body>
</html>
