<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <ul>
        <div id="li-1"><li><a class="active" href="home_user">สนามกีฬา</a></li></div>
        <div id="li-2"><li><a href="history">ประวัติการจอง</a></li></div>
    <div id="li-2"><li><a href="profile">ข้อมูลส่วนตัว</a></li></div>
    <div id="li-2"><li><a href="home">ออกจากระบบ</a></li></div>
    </ul>
    <center>
        <div class="type">
            <div class="htype">
                <h2>ประเภทสนามกีฬา</h2>
            </div>
            <div class="typeobj">
                <div id="tname"><a id="u" href="basketball">สนามบาสเกตบอล</a></div>
                <div id="tname"><a id="u" href="football">สนามฟุตบอล</a></div>
                <div id="tname"><a id="u" href="futsal">สนามฟุตซอล</a></div>
                <div id="tname"><a id="u" href="Bat">สนามแบตมินตัน</a></div>
            </div>
        </div>
        <div class="tables">
            <table>
                <tr>
                  <th>รหัสสนาม</th>
                  <th>ชื่อสนาม</th>
                  <th>ประเภทสนาม</th>
                  <th>ขนาด</th>
                  <th>ราคา/ชั่วโมง</th>
                  <th>จอง</th>
                </tr>
                <% 
                for(let i=0; i<stadium.length;i++)
                {

                %>
                <tr>
                  <td><%= stadium[i].StadiumID %></td>
                  <td><%= stadium[i].StadiumName %></td>
                  <td><%= stadium[i].type_stadium.TypeName %></td>
                  <td><%= stadium[i].Size %></td>   
                  <td><%= stadium[i].Price %></td>
                  <td><button class="button"><a href="sale">จอง</a></button></td>
                </tr>
                <% } %>
              </table>
        </div>
    </center>
    

   
     <%   localStorage.setItem("role",JSON.stringify(role) %>)

    
</body>
</html>