<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <ul>
    <div id="li-1"><li><a class="active" href="/home_user">สนามกีฬา</a></li></div>
        <div id="li-2"><li><a href="/history">ประวัติการจอง</a></li></div>
    <div id="li-2"><li><a href="/profile">ข้อมูลส่วนตัว</a></li></div>
    <div id="li-2"><li><a href="/home">ออกจากระบบ</a></li></div>
</ul>
<br><center>
  <div class="receipt-container">
    <h2>จองสนามกีฬา</h2>
    <div>
          <form action="/booking" method="POST">
            
      <table>
        <tr>
            <th>รายการ</th>
            <th>ข้อมูล</th>
        </tr>
        <tr>
            <td><strong>รหัสสนาม:</strong></td>
            <td><%= stadium.StadiumID %></td>
        </tr>
        <tr>
            <td><strong>ชื่อสนาม:</strong></td>
            <td><%= stadium.StadiumName %></td>
        </tr>
        <tr>
            <td><strong>ขนาดสนาม:</strong></td>
            <td><%= stadium.Size %></td>
        </tr>
        <tr>
            <td><strong>เวลาที่ลงจอง:</strong></td>
            <td>
                <input type="radio" id="booking_time1" name="Time" value="08:00" required >
                <label for="booking_time1">08:00-09:00</label><br>
                <input type="radio" id="booking_time2" name="Time" value="10:00"required>
                <label for="booking_time2">09:00-10:00</label><br>
                <input type="radio" id="booking_time3" name="Time" value="14:00"required>
                <label for="booking_time3">13:00-15:00</label><br>
                <input type="radio" id="booking_time4" name="Time" value="16:00"required>
                <label for="booking_time4">16:00-18:00</label>
                <input type="text" name="TypeID" value="<%= stadium.TypeID %>" hidden>
                <input type="text" name="StadiumID" value="<%= stadium.StadiumID %>" hidden>
                <input type="text" name="UserID" value="<%= user.UserID %>" hidden>
            </td>
        </tr>
        <tr>
            <td><strong>วันที่ลงจอง:</strong></td>
            <td>
                <input type="date" id="booking_date" name="SaleDate"required>
            </td>
        </tr>
        <tr>
            <td><strong>ชื่อลูกค้า:</strong></td>
            <td><%= user.UserName %></td>
        </tr>
        <tr>
            <td><strong>บัตรเครดิตลูกค้า:</strong></td>
            <td><%= user.Credit %></td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td><%= user.Email %></td>
        </tr>
        <tr>
            <td><strong>เบอร์โทร:</strong></td>
            <td><%= user.Tel %></td>
        </tr>
    </table>
    </div>
    <button type="submit">ยืนยันการจอง</button>
          </form>
</div>
</center>
</body>
</html>
